.home_content h1 {
  font-weight: bold;
  font-size: 56px;
  /* line-height: 140%; */
  color: #181d20;
}
.home_content h1 span {
  color: #ffffff;
  background-color: #1a8fe3;
  padding-bottom: 2px;
}
.home_content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #181d20;
}
.search-tool {
  border: none !important;
  border-radius: 45px;
  padding: 10px 15px;
}
.search-tool i {
  font-size: 20px;
  color: #1a8fe3 !important;
}
.search-tool-btn {
  padding: 5px 10px !important;
  /* border: 1px solid #1a8fe3 !important; */
  background-color: #1a8fe3 !important;
  border-radius: 30px !important;
  color: whitesmoke !important;
}

.search-tool-input:hover,
.search-tool-input:focus {
  border-color: none !important;
  box-shadow: 0 0 0 0.2rem #ffffff40 !important;
}

.tool_items {
  padding: 20px;
  border-radius: 15px;
}

.tool_items a {
  color: #ffffff;
  text-decoration: none !important;
}
.tool_circle {
  opacity: 8.5;
  padding: 12px 15px;
}
.tool_tag {
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 14px;
}
.tool_body span {
  font-size: 13px !important;
}

.tool_footer {
  background-color: whitesmoke;
  border-radius: 5px;
  font-size: 10px;
  padding: 5px 9px;
}

.tool_footer span {
  color: #676767 !important;
}
.tool_footer a {
  font-weight: bolder;
}

.static_con {
  background-color: #eff7fd;
  border-radius: 15px;
  padding: 10px 10px;
}
.static_item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.static_num {
  font-size: 50px;
  font-weight: 500;
}
.static_text {
  display: flex;
  flex-direction: column;
}

@media (max-width: 992px) {
  .home_content h1 {
    font-size: 35px;
    line-height: 140%;
  }

  .home_content p {
    font-size: 14px;
    line-height: 140%;
  }
}
