.home_area {
  background-color: #fbfdfe;
}
.home_content h1 {
  font-weight: bold;
  font-size: 56px;
  /* line-height: 140%; */
  color: #181d20;
}
.home_content h1 span {
  color: #ffffff;
  background-color: #1a8fe3;
  padding-bottom: 2px;
}
.home_content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #181d20;
}
.search-tool {
  border: none !important;
  border-radius: 45px;
  padding: 10px 15px;
  background-color: white;
}
.search-tool i {
  font-size: 20px;
  color: #1a8fe3 !important;
}
.search-tool-btn {
  padding: 5px 10px !important;
  /* border: 1px solid #1a8fe3 !important; */
  background-color: #1a8fe3 !important;
  border-radius: 30px !important;
  color: whitesmoke !important;
}

.search-tool-input:hover,
.search-tool-input:focus {
  border-color: none !important;
  box-shadow: 0 0 0 0.2rem #ffffff40 !important;
}

.toll_tools::-webkit-scrollbar {
  display: none;
  width: 0px;
}
.tool_items {
  padding: 20px;
  border-radius: 15px;
  width: 220px;
  padding: auto 15px;
}
.tool_items a {
  color: #ffffff;
  text-decoration: none !important;
}
.tool_circle {
  opacity: 8.5;
  padding: 12px 15px;
}
.tool_tag {
  padding: 3px 10px;
  border-radius: 20px;
  font-size: 14px;
}
.tool_body span {
  font-size: 12px !important;
}

.tool_footer {
  background-color: whitesmoke;
  border-radius: 5px;
  font-size: 10px;
  padding: 5px 9px;
}

.tool_footer span {
  color: #676767 !important;
}
.tool_footer a {
  font-weight: bolder;
}

.static_con {
  background-color: #eff7fd;
  border-radius: 15px;
  padding: 10px 10px;
}
.static_item {
  display: flex;
  align-items: center;
  gap: 20px;
}
.static_num {
  font-size: 50px;
  font-weight: 650;
  color: #1a8fe3;
}
.static_text {
  display: flex;
  flex-direction: column;
}

.tool_area {
  background-color: #eff7fd;
}
.tool_area_title {
  font-weight: 600;
  font-size: 50px;
  line-height: 140%;
  color: #181d20;
}
.tool_area_item {
  display: flex ;
  align-items: center;
  gap: 8px;
  padding: 8px 16px;
  white-space: nowrap;
  cursor: pointer;
  /* transition: all 0.5s ease; */
  border-radius: 30px !important;
  font-size: 14px !important;
  padding: 5px !important;
}
.tool_area_items {
  background-color: white;
  border-radius: 30px !important;
  font-size: 14px !important;
  padding: 5px !important;
  display: flex !important;
  flex-wrap: nowrap !important;
  /* gap: 5px; */
  overflow-x: auto !important;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
 
  
}

.tool_area_items::-webkit-scrollbar {
  display: none; /* Chrome, Safari, newer versions of Opera */
}
.active_tab {
  border-radius: 25px !important;
  background-color: #1a8fe3 !important;
  padding: 10px 10px !important;
  font-size: 14px !important;
  color: #ffffff !important;
}
.material-symbols-outlined{
  font-size: 20px;
}
.nav-link.active {
  border-radius: 25px !important;
  background-color: #1a8fe3 !important;
  padding: 10px 10px !important;
  font-size: 14px !important;
  color: #ffffff !important;
}

/* footer */
.footer_title{
  font-size: 25px;
}
.footer_descr{
  font-size: 15px !important;
}

.footer ul{
  padding: 0; 
}
.footer ul li{
  padding: 3px; 
}
.footer ul li a{
  color: #636363;
  font-size: 14px;
  
}
.footer ul li a:hover{
  color: #1a8fe3;
  font-size: 14px;
  
}
.copy_right p{
  font-size: 12px;
}
.tool_box_items{
  /* width: 24%; */
  /* height: 100%; */
}

@media (max-width: 992px) {
  .home_content h1 {
    font-size: 35px;
    line-height: 140%;
  }

  .home_content p {
    font-size: 14px;
    line-height: 140%;
  }

  .static_item {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .static_num {
    font-size: 30px;
  }
  .tool_area_title {
    font-size: 35px;
    line-height: 140%;
  }
  .tool_box_items{
    /* width: 32%; */
  }
  
  
}
@media (max-width: 426px) {
  .tool_area .tool_item{
    width: 45vw;
  }
  .tool_item .tool_name{
    font-size: 14px;
  }
  .tool_box_items{
    /* width: 48.5%;; */
  }
  .tool_box_items .tool_name{
    font-size: 12px !important;
  }
  .tool_box_items .tool_title{
    
  }
  .tool_box_items .tool_descr{
    
  }

}
