
        * {
            text-decoration: none !important;
            list-style: none;
            font-family: "K2D", sans-serif;
            font-style: normal;
        }

        .container {
            max-width: 1200px;
        }

        .dropdown:hover .dropdown-menu {
            display: block;
        }

        /* Ensure smooth alignment */
        .dropdown-menu {
            margin-top: 0;
            width: max-content;
            padding: 10px 15px;
            text-decoration: none;
            list-style: none;
        }

        .navbar-icon {
            cursor: pointer;
            padding: 0 5px;
            border: 1px solid #ccc;
            border-radius: 25px;
        }

        .nav-link {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 5px;
            font-weight: 600;
            font-size: 17px;

        }

        .catogary-tool-item {
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            color: #000;
            margin: auto 5px;
        }

        .catogary-tool-item:hover {
            background-color: #f8f9fa;
            border-radius: 5px;
            transition: background-color 0.3s ease;

        }

        .catogary-tool {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: start;
        }

        .catogary-menu {
            display: flex;
            flex-direction: column;
            align-items: start;
            border-left: 1px solid #ccc;
        }

        .tool-icon {
            padding: 15px 20px;
            border-radius: 5px;
            margin: 10px 10px;
        }

        .tool-text {
            margin-right: 10px;
        }

        .tool-text>p {
            margin-bottom: 0;
        }

        .tool-text h4:first-child {
            font-weight: 700;
            font-size: 16px;
        }

        .tool-text p:nth-child(2) {
            color: #666;
            font-size: 14px;
            /* Add these properties for text wrapping */
            white-space: normal;
            overflow-wrap: break-word;
            word-wrap: break-word;
            max-width: 200px;
            line-height: 1.2;
            /* Optional: add ellipsis after 2 lines */
            display: -webkit-box;
            /* -webkit-line-clamp: 2; */
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .menu-name-catogary {
            font-weight: 600;
            font-size: 12px !important;
            color: #878A8B;
            margin-bottom: 10px;
        }

        .mega_menu {
            width: max-content;
            padding-left: 0 !important;

        }

        .mega_menu li {
            padding: 5px 0;
            font-size: 14px;
            color: #333;
            font-weight: 500;
            font-size: 16px;
        }

        .mega_menu li a {
            color: #333;
            white-space: normal;
            overflow-wrap: break-word !important;
            word-wrap: break-word;
            max-width: 164px;
            line-height: 1.2;
            /* Optional: add ellipsis after 2 lines */
            display: -webkit-box;
            /* -webkit-line-clamp: 2; */
            -webkit-box-orient: vertical;
            overflow: hidden;
        }

        .social_icon a {
            cursor: pointer;
            padding: 10px 12px;
            border: 1px solid #ccc;
            border-radius: 25px;
        }

        .mode {
            background: none;
        }

        .mode:hover,
        .mode:focus {
            border: none !important;
            background: none !important;

        }

        .search-input:hover,
        .search-input:focus {
            border-color: none;
            box-shadow: 0 0 0 0.2rem #ffffff40;

        }

        .search-nav {
            border: 1px solid #ccc;
            border-radius: 10px;
        }

        .search-nav:hover,
        .search-nav:focus {
            border-color: #97c8f9ff;
            box-shadow: 0 0 0 0.2rem #ffffff40;
        }

        .modal-content {
            width: 75%;
        }

        /* user panel */
        .user-avtar-inner i{
            padding: 5px 0px;
        }
        .user-avtar-email{
            font-size: 12px !important;
        }

        @media (max-width: 992px) {
            .pdf-dropdown {
                gap: 30px;
            }

            .dropdown-menu {
                width: 100%;
            }

            .tool-icon {
                padding: 15px 20px;
                border-radius: 5px;
                margin: 10px 10px;
            }

            .catogary-menu {
                border-left: none;
            }

            .social_icon a {
                cursor: pointer;
                padding: 8px 10px;
                border: 1px solid #ccc;
                border-radius: 25px;
            }

            .modal-content {
                width: 85%;
            }
        }

        body {
            padding-top: 76px;
            /* Add padding to prevent content from hiding behind navbar */
        }

        /* .navbar {
            background-color: var(--bs-body-bg);
            z-index: 1030;
        }

        .dropdown-menu {
            margin-top: 0.5rem;
        } */
    